@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,400&display=swap');

/* Customize component styles  */
@import './navbar.css';
@import './login.css';
@import './lastnew.css';
@import './categories.css';
@import './about.css';
@import './footer.css';

/* Page colors */
:root {
    --newFirstColorHue: 49;
    --newSecondColorHue: 89%;
    --newThirdColorHue: 34%;

    --firstBackgroundHue: 252;
    --secondBackgroundHue: 30%;
    --thirdBackgroundHue: 92%;

    --white: hsl(252, 30%, 100%);
    --light: hsl(var(--firstBackgroundHue), var(--secondBackgroundHue), var(--thirdBackgroundHue));
    --primary: hsl(252, 75%, 60%);
    --secondary: hsl(252, 60%, 65%);
    --danger: hsl(352, 81%, 50%);
    --success: hsl(140, 87%, 57%);
    --gray: hsl(252, 15%, 65%);
    --dark: hsl(252, 30%, 17%);
    --black: hsl(252, 30%, 10%);
    --black-50: rgba(0,0,0,0.5);
    --main:hsl(var(--newFirstColorHue), var(--newSecondColorHue), var(--newThirdColorHue));
    --main-40: hsla(48, 88%, 48%, 0.4);
    --main-50:hsla(49, 100%, 27%, 0.5);
    --main-60: hsl(49, 85%, 30%);
    --contact : #333;
    --gradient-main: linear-gradient(to left, #cfb645, hsl(49, 100%, 27%), #cfb645, #cfb645, #cfb645, hsl(49, 100%, 30%));
    --theme:rgb(255, 255, 255, .5);
    /* --accueil : #660746; */
    --sectionTitle: black;


    --sticky-top-left: 5.7rem;
    --sticky-top-right: 5.7rem;

    --btn-padding: .6rem 2rem;
    --border-radius: 2rem;
    --card-padding: .7rem .9rem;
    --card-radius: 1rem;
    --search-padding: .4rem 1rem;

}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;}

*, 
::before,
::after {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    background-origin: border-box;
}

/* GENERAL STYLE */
body {
    font-family: 'Poppins', sans-serif;
    background: var(--light);
    color: var(--dark);
    overflow-x: hidden;
}

/* SEARCH BAR */
.search_bar {
    background: hsl(252, 30%, 93%);
    padding: var(--search-padding);
    border-radius: var(--border-radius);
}
.search_bar input[type="search"] {
    background:  hsl(252, 30%, 93%);
    color: var(--dark);
    width: 25vw;
    padding: .7rem 1rem;
    margin-right: 11rem;
    overflow: hidden;
    
}
.search_bar input[type="search"]::placeholder {
    color: var(--gray);
    font-size: 1rem;
    width: 100%;
}

@media sreen and (max-width: 1024px) {
    .search_bar {
        margin-bottom: 1rem;
    }
    .search_bar input[type="search"] {
        overflow: visible;
    }
    .search_bar input[type="search"]::placeholder {
        color: var(--gray);
        font-size: 1rem;
        width: 200%;
    }
}
/* END SEARCH BAR */
.active {
    color: var(--main)
}
.btn-main {
    background: var(--main);
    color: var(--white);
}

.btn-secondary {
    background: var(--secondary);
}
.btn-danger {
    background: var(--danger);
}

.btn-success {
    background: var(--success);
}
.btn-dark{
    background: var(--dark);
}
.btn-light {
    background: var(--light);
}
.btn-gray {
    background: var(--gray);
}
.btn-black {
    background: var(--black);
}
.text_bold {
    font-weight: 600;
    font-style: normal;
}
.text_muted {
    color: var(--gray);
}

*::selection {
    background-color:var(--main);
    color: var(--white);
}
html {
    overflow-x: hidden;
    font-size: 62.5%;
}

/* SAME STYLE  */
.heading {
    color: var(--black);
    font-size: 3rem;
    margin-top: 4rem;
    padding: 0 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    letter-spacing: .2rem;
    font-weight: bold;
}
.title {
    color: var(--dark);
    padding: 0 1rem;
    font-size: 2.7rem;
    text-align: center;
    font-weight: 400; 
    
}
.more-visited {
    background: var(--main);
    color: var(--white);
    font-weight: 700;
    padding: .5rem 3rem;
    text-align: center;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    width: 21rem;
}
a {
    text-decoration: none;
    color: var(--black);
}

.author {
    font-weight: 550;
    font-size: 1rem;
}
.tags {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* position: absolute; */
    margin-top: .5rem;
}
.tag {
    font-weight: 550;
    font-size: 1rem;
    background: var(--main);
    color: var(--light);
    border-radius: var(--card-radius);
    padding: .2rem .5rem;
}
/* scroll Top style */
.scroll_top{
    position: fixed;
    bottom: 4.5rem; right: 1.5rem;
    z-index: 100;
    border-radius: 3.5rem;
    padding: 1rem 1.5rem;
    letter-spacing: .5rem;
    font-size: 1.7rem;
    text-align: center;
    display: none;
}
.scroll_top i{
    color: #555;
    background-color: var(--main);
    border-radius: 3.5rem;
    font-size: 4.5rem;
}
/* responsibility when screen < 1024px  */
@media screen and (min-width: 1024px) {

     .tags {
        /* visibility: hidden; */
        transform: scale(0);
        transition: 100ms ease-in-out;

    }
    .box-link:hover .tags {
        /* visibility: visible; */
        transform: scale(1);
        transition: 300ms ease-in-out;
    }

}
.box-right .box {
    background: var(--white);
    margin-bottom: 1rem;
    padding: .5rem 0;
    box-shadow: 0 0 .4rem gray;
    border-radius: var(--card-radius);
    display: flex;
}
.box-right .box img{
    min-height: 13rem;
}

.box-link{
    text-decoration: none;
    color: var(--black);
}
.box-link:hover {
    text-decoration: none;
    overflow:hidden;
    color: var(--black);
    transition: .2s;
    opacity: 1;
}
.box-link:hover img {
    filter: grayscale(.9);
    opacity: .8;
}

.box-link .detail {
    padding: .5rem 1.5rem;
    align-self: flex-start;
    margin-top: -.7rem;
    position: absolute;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 79%;
    }
    .container {
        width: 100%;  
    }
    .container .left {
        width: 5rem;
        margin-right: .3rem;
    }
}

@media screen and (max-width: 768px) {

    html {
        font-size: 65.3%;
    }
    html {
        font-size: 55%;
    }
    #block-accueil {
        min-height: 40vh;
    }

    .heading {
        font-size: 3rem;
        margin-bottom: 0;
    }
    .title {
        font-size: large;
    }

    /* RESPONSIVE HOME SECTION */
    .home-section .content h1 {
        font-size: x-large;
    }
    .home-section .content p {
        padding: 1.5rem .9rem;
        font-size : large;
    }
    .home-section::before {
        display: none;
    }
    .about .row {
        flex-flow: column-reverse;
    }
    .about .image img { 
        /* width :90vw; */
        /* height :20vh; */
        width: 100%;
        height: auto;
    }
    .about .content {
        padding: .5rem;
    }
 
}