.categories {
    margin-top: 3rem;
    background: light;
}

.categories .nav-link {
    color: var(--black);
    font-size: 1.8rem;
}
.categories .nav-link .active {
    background: var(--main);
}
.categories .card {
    margin: .7rem;
    border-radius: var(--card-radius);
    /* border-left: .3rem solid var(--main); */
    border-right: .3rem solid var(--main);
    box-shadow: 0 0 .5rem light;
}
.categories .box img {
    height: auto;
    min-height: 14rem;
    max-height: 14rem;
    width: 100%;
    border-radius: var(--card-radius);
}
.categories .box-link .detail {
    margin-left: -4rem;
    padding: .7rem 1rem;
    transition: 500ms;
}
.categories .box-link:hover img{
    filter: grayscale(90%);
    transition: 400ms;
}
@media screen and (min-width: 1024px){

    .categories .paragraph {
    display: none;
    transform: scale(0);
    transition: .5s;
    }
    .categories .card:hover {
        cursor: pointer;
    }
    .categories .card:hover .paragraph {
        display: block;
        transform: scale(1);
        transition: .5s;
        transform-duration: .5s;
    }
